@mixin box($bg-color) {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: $bg-color;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

@mixin flex-container(
  $justify: center,
  $align: center,
  $gap: 0,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin button($bg-color: $color) {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: $bg-color;
  border: none;
  color: white;
  font-size: 20px;
}
